body{
    background-color: rgb(186, 133, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.central{
    text-align: center;
}
.itens-menu{
    display: inline;
    margin: 0.6rem;
    background-color: aliceblue;
    padding: 0.7rem;
    padding: 1rem;
    border-right-style: double;
    border-width: 0.5rem;
    border-color: rgb(250, 213, 3);
}
.itens-menu:hover{
    background-color: blueviolet;
}

.itens-menu a:hover{
    text-decoration: black;
    color: gold;
}
.menu{
    background-color: aliceblue;
    padding: 0.7rem;
}
td{
    padding: 0.4rem;
}
